.userInfoCard {
    background-color: #2f3136 !important;
    border-radius: 15px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 10px;
    /* width: 200px; */
}

.participantAvi {
    border-radius: 50%;
    height: 75px;
}

.ready {
    color: green;
}

.notReady {
    color: red;
}

.link {
    color: white;
    text-decoration: none;
}