.box {
    border: 1px solid #2f3136;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    padding-top: 20px
}

.boxRow {
    margin-bottom: 20px;
}

.boxCol {
    display: flex;
    justify-content: center;
}

.titleRow {
    margin-bottom: 10px;
}

.forwardButtonCol {
    display: flex;
    justify-content: right;
    align-items: center;
}