.gameParticipantDetailView {
  background-color: #36393f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.mainContent {
  padding-top: 20px;
}

.boxLabel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxPanel {
  padding-top: 20px;
}

.gameInfoPanel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerStateCard {
  background-color: #2f3136 !important;
  height: 100%
}

.playerStatePanel {
  margin-bottom: 10px
}

.readyText {
  color: green;
}

.notReadyText {
  color: red;
}

