.bug { background-color: #92bb39; }
.dark { background-color: #595762; }
.dragon { background-color: #176cc6; }
.electric { background-color: #f1d85a; }
.fairy { background-color: #ec93e3; }
.fighting { background-color: #d04461; }
.fire { background-color: #faa555; }
.flying { background-color: #a1bce9; }
.ghost { background-color: #5f6fba; }
.grass { background-color: #63bc5e; }
.ground { background-color: #d87d51; }
.ice { background-color: #79d0c0; }
.normal { background-color: #a0a29f; }
.poison { background-color: #b567cd; }
.psychic { background-color: #f88685; }
.rock { background-color: #c9bb8e; }
.steel { background-color: #5a95a3; }
.water { background-color: #579edc; }