.brandHeader {
    color: white;
}

.userCard {
    display: flex;
}

.userAvatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

.linkDropdownItem {
    text-decoration: none;
}

